<div class="row">
	<div class="col-lg-8 col-lg-offset-2 disenio1">
		<div class="col-lg-12 header" align="center">Bienvenido a SantiagoMatch</div>
		<div class="row">
			<div style="background-color: rgba(245,245,245,0.8)" class="col-lg-6">
				<br><br>
				<h3>¿Ya tienes un usuario registrado?</h3>
				<h4> Ingresa acá</h4>
				<br>
				<form role="form">
					<div class="form-group">
						<label for="mail">Correo electrónico</label>
	    				<input type="email" class="form-control" id="mail" placeholder="ingresa tu correo">
					</div>
					<div class="form-group">
						<label for="mail">contraseña</label>
	    				<input type="password" class="form-control" id="mail" placeholder="ingresa tu contraseña">
					</div>
					<p align="right"><a class="btn btn-success">Ingresar</a></p>
				</form>
			</div>
			<div class="col-lg-6" style="background-color: rgba(250,250,250,0.8)">
				<br><br><br>
				<h3>¿Aún no tienes cuenta, y quieres ver cómo funciona?</h3>
				<h4>Puedes buscar en nuestras canchas e invitar a tus amigos aunque ellos no estén registrados.<br><br>¡En unos pocos clicks!</h4>
				<br>
				<p align="center"><a class="btn btn-success">¡Crea un encuentro acá!</a></p>
			</div>
		</div>

	</div>
</div>